<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <input type="email" placeholder="email" required>
    <i *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
      Email is required and must be valid
    </i>
    <input type="password" placeholder="Password" required>
    <i *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
      Password is required
    </i>
    <button type="submit">Log in</button>
  </form>
</div>
